@use "../../../public/assets/css/utils/variables" as *;
@use "../../../public/assets/css/utils/mixin" as *;
@use "../abstracts/functions/set-vw" as *;
@use "../abstracts/functions/set-ls" as *;
@use "../abstracts/functions/set-lh" as *;
@use "../abstracts/functions/set-mobile-fz" as *;
@use "../abstracts/mixin/element_effect" as *;

.page-about {
}

.about-row {
    padding-inline: set-vw(150, 1920);
    @include pad {
        padding-inline: 0;
    }
}

.about-founder {
    .page-title {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: set-vw(93, 1920);
        padding-bottom: set-vw(105, 1920);

        @include pad {
            padding-top: set-vw(71, 768);
            padding-bottom: set-vw(54, 768);
        }
    }

    .summary-block {
        .title {
            @include pad {
                margin-bottom: 0;
                margin-bottom: set-vw(25, 768);
            }
        }

        .line {
            @include pad {
                height: set-vw(26, 768);
                margin-bottom: set-vw(32, 768);
            }
        }
    }
}

.about-spirit {
    .page-title {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: set-vw(197, 1920);
        padding-bottom: set-vw(148, 1920);

        @include pad {
            padding-top: set-vw(143, 768);
            padding-bottom: set-vw(107, 768);
        }
    }
}

.about-corp-structure {
    .page-title {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: set-vw(135, 1920);
        padding-bottom: set-vw(146, 1920);

        @include pad {
            padding-top: set-vw(137, 768);
            padding-bottom: set-vw(100, 768);
        }
    }
}

.about-founder {
    .summary-block {
        .title {
            font-size: set-vw(26, 1920);
            letter-spacing: set-ls(100);
            text-align: center;
            font-weight: 600;

            @include pad {
                font-size: set-vw(32, 768);
                // font-size: 4.2vw;
                font-size: set-mobile-fz(32);
                line-height: 1.5;
            }

            &-txt-2 {
                font-size: set-vw(21, 1920);

                @include pad {
                    font-size: set-vw(24, 768);
                    // font-size: 3.2vw;
                    font-size: set-mobile-fz(24);
                }
            }
        }

        .txtimg {
            width: set-vw(1136, 1920);
            overflow: hidden;

            @include pad {
                width: set-vw(690, 768);
            }
            img {
                aspect-ratio: 1136 / 456;
                object-fit: cover;

                @include pad {
                    aspect-ratio: 690 / 941;
                }
            }
        }
    }
    .summary-content {
        aspect-ratio: 1136 / 456;
        @include pad {
            aspect-ratio: 690 / 941;
        }
    }

    .founder-signature {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: set-vw(90, 1920);
        padding-bottom: set-vw(120, 1920);

        @include pad {
            align-items: center;
            padding-top: set-vw(127, 968);
            padding-bottom: set-vw(134, 768);
        }

        .title {
            display: block;
            margin-bottom: set-vw(13, 1920);
            font-size: set-vw(16, 1920);
            letter-spacing: set-ls(200);
            font-weight: 300;

            @include pad {
                margin-bottom: set-vw(27, 768);

                font-size: set-vw(26, 768);
                // font-size: 3.5vw;
                font-size: set-mobile-fz(26);
                text-align: center;
            }
        }
        .img {
            width: set-vw(300, 1920);

            @include pad {
                width: set-vw(534, 768);
            }

            img {
                aspect-ratio: 534 / 132;
                object-fit: cover;
            }
        }
    }

    .founder-photo {
        position: relative;
        width: 100%;
        aspect-ratio: 1622 / 540;
        overflow: hidden;

        @include pad {
            width: set-vw(689, 768);
            aspect-ratio: 689 / 461;

            margin-inline: auto;
        }

        &-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            aspect-ratio: 1622 / 1251;
            @include pad {
                aspect-ratio: 689 / 461;
            }
        }
        img {
            aspect-ratio: 1622 / 1251;
            object-fit: cover;

            @include pad {
                aspect-ratio: 689 / 461;
            }
        }
    }
}

.spirit-container {
    display: flex;
    gap: set-vw(198, 1920);

    @include pad {
        flex-direction: column;
        padding-inline: set-vw(40, 768);
        gap: set-vw(39, 768);
    }

    .spirit-img {
        flex: 1;
        width: set-vw(767, 1920);

        @include pad {
            width: 100%;
            // margin-inline: auto;
        }
    }

    .spirit-swiper {
        flex: 1;
        width: set-vw(657, 1920);

        @include pad {
            width: 100%;
        }
    }
}

.spirit-img {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: set-vw(21, 1920) set-vw(24, 1920);
    // padding: relative-percentage(21, 770) relative-percentage(24, 767);
    will-change: transform;
    @include pad {
        padding: set-vw(18, 768) set-vw(22, 768);
        // padding: relative-percentage(18, 688) relative-percentage(22, 688);
    }
    > img {
        aspect-ratio: 767 / 770;
        object-fit: cover;
    }
    .swiper-pagination {
        // position: relative;
        top: 0;
        bottom: unset;

        width: 100%;
        height: 100%;
    }

    .swiper-pagination-bullet.swiper-pagination-bullet {
        margin: 0;
        opacity: 1;
        background-color: transparent;
    }

    .swiper-pagination-bullet {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // width: set-vw(117, 1920);
        // height: set-vw(117, 1920);
        width: relative-percentage(117, 767);
        height: relative-percentage(117, 769);

        .circle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 50%;
            height: 50%;
            border: 1px solid #fff;
            border-radius: 50%;
            opacity: 0;

            &:nth-of-type(2) {
                border-color: #c7b299;
            }
        }

        @include pad {
            width: set-vw(96, 768);
            height: set-vw(96, 768);
        }

        &:hover {
            svg {
                transform: scale(1.05);
            }
        }

        &:active {
            svg {
                transform: scale(0.95);
            }
        }
        svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition:
                opacity 0.4s ease,
                transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        .svg-inactive {
            opacity: 1;
            transform: scale(1) rotate(0deg);
        }

        .svg-active {
            opacity: 0;
            transform: scale(0.8) rotate(-90deg);
        }

        &.swiper-pagination-bullet-active {
            .svg-inactive {
                opacity: 0;
                transform: scale(0.8) rotate(90deg);
            }

            .svg-active {
                opacity: 1;
                transform: scale(1) rotate(0deg);
            }

            circle {
                animation: pulse 1.5s ease-in-out infinite;
            }

            .circle {
                animation: ripple 3s cubic-bezier(0.12, 0.49, 0.17, 0.87)
                    infinite;
                &:nth-of-type(2) {
                    animation-delay: 1s;
                }
            }

            // path {
            //     animation: rotate 3s linear infinite;
            //     transform-origin: center;
            // }
        }
        &:first-of-type {
            top: calc(50% - relative-percentage(362 - 2, 770));
            left: calc(50%);
        }

        &:nth-of-type(2) {
            top: calc(50% - relative-percentage(182 - 2, 770));
            left: calc(50% + relative-percentage(360 - 2, 767));
        }

        &:nth-of-type(3) {
            top: calc(50% + relative-percentage(182 - 2, 770));
            left: calc(50% + relative-percentage(360 - 2, 767));
        }
        &:nth-of-type(4) {
            top: calc(50% + relative-percentage(362 - 2, 770));
            left: calc(50%);
        }
        &:nth-of-type(5) {
            top: calc(50% + relative-percentage(182 - 2, 770));
            left: calc(50% - relative-percentage(360 - 2, 767));
        }
        &:nth-of-type(6) {
            top: calc(50% - relative-percentage(182 - 2, 770));
            left: calc(50% - relative-percentage(360 - 2, 767));
        }
    }
}

.spirit-block {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include pad {
        .spirit-block-ft {
            order: 0;
        }

        .spirit-block-hd {
            order: 1;
        }

        .spirit-block-bd {
            order: 2;
        }
    }

    &-hd {
        .title {
            display: flex;
            flex-direction: column;
            gap: set-vw(23 - 6, 1920);
            margin-bottom: set-vw(26, 1920);
            line-height: 1.5;
            letter-spacing: set-ls(100);
            font-weight: normal;
            font-weight: 600;

            @include pad {
                // justify-content: center;
                align-items: center;
                margin-bottom: 0;
                padding-top: set-vw(72, 768);
                padding-bottom: set-vw(22, 768);
            }
        }
        .title-txt-1 {
            font-size: set-vw(26, 1920);

            @include pad {
                font-size: set-vw(32, 768);
                // font-size: 4.2vw;
                font-size: set-mobile-fz(32);
            }
        }
        .title-txt-2 {
            font-size: set-vw(24, 1920);

            @include pad {
                font-size: set-vw(28, 768);
                font-size: set-mobile-fz(28);
                // font-size: 3.9vw;
                text-align: center;
            }
        }

        .line {
            width: set-vw(42, 1920);
            height: 1px;
            background-color: #c7b299;
            margin-bottom: set-vw(50, 1920);

            @include pad {
                width: set-vw(42, 768);
                margin-bottom: set-vw(50, 768);
                margin-inline: auto;
            }
        }
    }

    &-bd {
        @include pad {
            padding-top: set-vw(72, 768);
        }
    }
}

.spirit-block-hd.show-mobile {
    .title {
        padding-top: 0;
    }
}

.spirit-slide-bd {
    padding-bottom: set-vw(37, 1920);
    @include pad {
        padding-bottom: 0;
    }
    .title {
        display: block;
        margin-bottom: set-vw(36, 1920);
        letter-spacing: set-ls(100);
        font-size: set-vw(26, 1920);
        font-weight: 400;

        @include pad {
            margin-bottom: set-vw(37, 1920);
            font-size: set-vw(28, 768);
            font-size: set-mobile-fz(28);
            // font-size: 3.9vw;

            text-align: center;
        }

        > span {
            letter-spacing: set-ls(50);
        }
    }

    .txt {
        font-size: max(14px, set-vw(18, 1920));
        letter-spacing: set-ls(100);
        line-height: set-lh(18, 36);

        @include pad {
            font-size: set-vw(26, 768);
            font-size: set-mobile-fz(26);
            font-size: 3.5vw;
            text-align: justify;

            br {
                display: none;
            }
        }
    }
}

.spirit-swiper {
}

.spirit-swiper-nav-wrap {
    display: flex;
    gap: set-vw(18, 1920);

    @include pad {
        justify-content: center;
        gap: set-vw(80, 768);
    }

    .swiper-button-prev.swiper-button-prev {
        img {
            transform: scaleX(-1);
        }
    }
    .swiper-button-prev.swiper-button-prev,
    .swiper-button-next.swiper-button-next {
        position: relative;
        top: unset;
        right: unset;
        left: unset;
        margin-top: 0;
    }
}

.spirit-swiper-nav {
    width: max(set-vw(35, 1920), 35px);
}

.about-corp-structure {
    overflow: hidden;
    @include pad {
        padding-bottom: set-vw(178, 768);
    }
    .structure-img-wrap {
        position: relative;
        width: set-vw(683, 1920);
        aspect-ratio: 685 / 602;

        margin-inline: auto;
        @include pad {
            width: set-vw(683, 768);
        }
    }
    .structure-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform-origin: center relative-percentage(361, 601);

        width: 100%;

        &.c0 {
            z-index: 3;
        }
        &.c1 {
            z-index: 2;
        }
        &.c2 {
            z-index: 2;
        }
        &.c3 {
            z-index: 2;
        }

        img {
            aspect-ratio: 682 / 601;
            object-fit: contain;
        }
    }

    .pattern {
        position: relative;
        width: set-vw(1258, 1920);
        aspect-ratio: 1258 / 220;
        margin-inline: auto;

        @include pad {
            display: none;
        }

        img {
            position: absolute;
            top: 0;
            aspect-ratio: 1258 / 224;
            object-fit: cover;
        }
    }
}
