@use "../../../public/assets/css/utils/variables" as *;
@use "../../../public/assets/css/utils/mixin" as *;
@use "../abstracts/functions/set-vw" as *;

.page-contact {
    padding-bottom: set-vw(262, 1920);
    @include pad {
        padding-bottom: set-vw(146, 768);
    }
}

.contact-wrap {
    display: flex;
    padding-left: set-vw(150, 1920);
    padding-right: set-vw(150, 1920);
    @include pad {
        padding-left: set-vw(40, 768);
        padding-right: set-vw(40, 768);

        flex-direction: column-reverse;
        gap: set-vw(66, 768);
    }

    .contact-info {
        flex: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: set-vw(86, 1920);

        @include pad {
            gap: set-vw(52, 768);
        }
    }

    .contact-photo {
        width: set-vw(811, 1920);
        @include pad {
            width: 100%;
        }
    }
}


.contact-info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contact-info-qrcode {
    display: flex;
    gap: set-vw(69, 1920);
    @include pad {
        flex-direction: column;
        gap: set-vw(78, 768);
    }

    .qrcode-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: set-vw(12, 1920);
        @include pad {
            gap: set-vw(17, 768);
        }
    }

    .qrcode-img {
        width: set-vw(200, 1920);
        @include pad {
            width: 35vw;
        }
    }

    .qrcode-label {
        display: flex;
        align-items: center;
        gap: set-vw(14, 1920);
        @include pad {
            gap: set-vw(14, 768);
        }

        .icon {
            width: set-vw(18, 1920);
            @include pad {
                width: set-vw(20, 768);
            }
        }

        .txt {
            color: #fff;
            font-size: set-vw(18, 1920);
            letter-spacing: 0.15em;
            @include pad {
                font-size: set-vw(21, 768);
            }
        }
    }
}

.contact-photo-img {
    overflow: hidden;
}