@use "../../../public/assets/css/utils/variables" as *;
@use "../../../public/assets/css/utils/mixin" as *;

.page-banner {
    width: 100%;
    height: 40vw;
    overflow: hidden;

    @include pad {
        height: auto;
        aspect-ratio: 768 / 508;
    }
    .img-box {
        position: relative;
        width: 100%;
        height: 100%;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
}