@use "../../abstracts/variable/color" as *;

// Value   Common weight name
// 100     Thin (Hairline)
// 200     Extra Light (Ultra Light)
// 300     Light
// 400     Normal (Regular)
// 500     Medium
// 600     Semi Bold (Demi Bold)
// 700     Bold
// 800     Extra Bold (Ultra Bold)
// 900     Black (Heavy)
// @font-face {
//     font-family: "Inter";
//     src: url("../fonts/inter/static/Inter-Regular.ttf") format("opentype");
//     font-weight: 400;
// }

// @font-face {
//     font-family: "Inter";
//     src: url("../fonts/inter/static/Inter-Medium.ttf") format("opentype");
//     font-weight: 500;
// }

// @font-face {
//     font-family: "Inter";
//     src: url("../fonts/inter/static/Inter-SemiBold.ttf") format("opentype");
//     font-weight: 600;
// }

// @font-face {
//     font-family: "Inter";
//     src: url("../fonts/inter/static/Inter-Bold.ttf") format("opentype");
//     font-weight: 700;
// }

// @font-face {
//     font-family: "Inter";
//     src: url("../fonts/inter/static/Inter-Black.ttf") format("opentype");
//     font-weight: 900;
// }

body {
    font-family: "Noto Serif TC", serif;
    font-optical-sizing: auto;
    letter-spacing: 0.2em;
    // font-family: Microsoft JhengHei, Helvetica Neue, Helvetica, Segoe UI, Arial, Roboto, PingFang SC, miui, Hiragino Sans GB, sans-serif;
    // font-display: swap;
    // font-weight: 600;
    line-height: 1.8;
    color: #fff;
}

@each $name, $color in $color {
    .color-#{$name} {
        color: $color;
    }
}
