.project-body {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    .page-banner {
        position: relative;
        z-index: 10;
    }

    .body_wrap {
    }
    .banner-box {
        width: 100%;
        height: 40vw;
        overflow: hidden;
        .img-box {
            width: 100%;
            position: relative;
            img {
                object-fit: cover;
            }
        }
    }

    .main-box {
        // display: flex;
        // flex-direction: column;
        width: 100%;
        position: relative;
        // align-items: center;
        background-image: url(../images/project/bg.webp);

        // padding-bottom: set-vw(259, 1920);
        @include pad {
            padding-bottom: set-vw(149, 768);
        }
        .gallery {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        .swiper-controller {
            // position: absolute;
            // right: 4vw;
            // top: 13vw;
            position: fixed;
            z-index: 1;
            top: 50%;
            transform: translateY(-50%);
            right: 4vw;

            @include pad {
                display: none;
            }
            .swiper-pagination {
                font-family: "Cormorant Infant";
                font-size: $font-20;
                color: #c7b299;
                position: relative;
                width: initial;
                bottom: initial;
                left: initial;
                letter-spacing: 0.05em;
                margin-top: 3vw;

                .swiper-pagination-total {
                    opacity: 0.6;
                }
            }
            .prev-next-box {
                display: flex;
                flex-direction: column;
                align-items: center;

                .swiper-pagination-progressbar
                    .swiper-pagination-progressbar-fill {
                    background-color: #736357;
                    width: 0.15vw;
                    left: -0.07vw;
                }
                .swiper-pagination-progressbar {
                    position: relative;
                    bottom: initial;
                    left: initial;
                    margin-top: 0.4vw;
                    margin-bottom: 0.4vw;
                    top: initial;
                    width: 1px;
                    background-color: #c7b299;
                    height: 6vw;
                    display: flex;
                }
                .slider-arrow {
                    display: flex;
                    flex-direction: column;
                    font-family: "Cormorant Infant";
                    color: #c7b299;
                    font-size: $font-20 !important;
                    align-self: center;
                    letter-spacing: 0.05em;
                    cursor: pointer;
                    transition: color 0.4s ease;

                    &:hover {
                        color: #fff;

                        .next-img {
                            transform: translateY(30%);
                        }
                        .prev-img {
                            transform: translateY(-30%);
                        }
                    }

                    &:active {
                        transform: translate(1px, 1px);
                    }
                    .next-img {
                        height: 1.8vw;
                        margin-top: 1vw;
                        margin-left: 0.07vw;
                        transition: transform 0.4s ease;
                    }
                    .prev-img {
                        height: 1.8vw;
                        margin-bottom: 1vw;
                        margin-left: 0.07vw;
                        transition: transform 0.4s ease;
                    }
                }
            }
        }
        .swiper {
            height: 100vh;
            width: 45%;

            @include mobile {
                height: auto;
                width: 100%;
            }

            // 手機版：禁用 Swiper，改為列表樣式
            &.swiper-disabled {
                height: auto;
                width: 100%;

                .swiper-wrapper {
                    display: flex;
                    flex-direction: column;
                    transform: none !important;
                }

                .swiper-slide {
                    width: 100% !important;
                    height: auto !important;
                    transform: none !important;
                    margin-bottom: 8vw;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .swiper-slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: all 1s;
            transform: scale(0.8);

            @include mobile {
                transform: none;
            }
        }
        .swiper-slide-active {
            transform: scale(1);
            @include mobile {
                transform: none;
            }
        }
        .item-box {
            display: flex;
            width: 80%;
            position: relative;
            flex-direction: column;

            @include mobile {
                width: 90%;
                margin: 0 auto;
            }

            .top-box {
                display: flex;
                flex-direction: column;

                .img-box {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    // height: 25vw;
                    overflow: hidden;
                    img {
                        transition: all 0.5s;
                        object-fit: cover;
                    }

                    a:hover {
                        img {
                            transform: scale(1.2);
                        }
                    }
                }
            }
            .bottom-box {
                display: flex;
                justify-content: center;

                .name-box {
                    display: flex;
                    position: relative;
                    margin-top: 0.3vw;

                    @include pad {
                        // flex-direction: column;
                        align-items: center;

                        gap: set-vw(16, 768);
                        margin-top: set-vw(64, 768);
                    }

                    .name {
                        font-family: "Noto Serif TC";
                        color: white;
                        font-weight: 500;
                        font-size: $font-26;
                        letter-spacing: 0.2em;
                        margin-right: 0.8vw;

                        @include pad {
                            font-size: set-vw(32, 768);
                            margin-right: 0;
                        }
                    }
                    .local {
                        font-family: "Noto Serif TC";
                        color: #c7b299;
                        letter-spacing: 0.1em;
                        font-size: $font-17;
                        align-self: flex-end;
                        margin-bottom: 0.2vw;

                        @include pad {
                            align-self: unset;
                            margin-bottom: 0;
                            font-size: set-vw(26, 768);
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}
