@use "../../../../src/sass/abstracts/functions/set-vw" as *;
@use "../../../../src/sass/abstracts/functions/set-mobile-fz" as *;

.push-map-body {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;


    .main-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        align-items: center;
        background-image: url(../images/project/bg.webp);
        padding-bottom: set-vw(261, 1920);
        @include pad {
            padding-bottom: set-vw(150, 768);

        }

        .push-map-box {
            display: flex;
            width: 85%;

            @include pad {
                width: 100%;
                flex-direction: column;
                padding-inline: set-vw(42, 768);
                gap: set-vw(86, 768);
            }

            .google-iframe-box {
                // width: 73.5%;
                flex: 3;

                @include pad {
                    order: 1;
                    flex: 1;
                    width: 100%;
                    aspect-ratio: 685 / 1200;
                }
                iframe {
                    height: 40vw;
                }
            }

            .item-list {
                display: flex;
                flex-direction: column;
                flex: 1;
                padding-left: 1vw;
                padding-right: 1vw;
                height: 40vw;
                width: 100%;
                overflow-y: auto;

                @include pad {
                    order: 0;
                    height: auto;
                }

                .item {
                    display: flex;
                    width: 100%;
                    margin-bottom: 1vw;
                    padding-bottom: 1vw;
                    position: relative;
                    cursor: pointer;

                    @include pad {
                        margin-bottom: set-vw(27, 768);
                        padding-bottom: set-vw(30, 768);
                    }

                    &:hover {
                        .img-box {
                            img {
                                scale: 1.15;
                            }
                        }
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        background-color: #c3b09d;
                        bottom: 0px;
                        left: 0px;
                    }
                    &:last-child {
                        margin-bottom: 0vw;
                        padding-bottom: 0vw;
                        &::after {
                            display: none;
                        }
                    }
                    .img-box {
                        overflow: hidden;
                        display: flex;
                        width: 50%;
                        // height: 6.5vw;
                        img {
                            aspect-ratio: 192 / 123;
                            object-fit: cover;
                            transition: all 0.35s ease-in-out;
                        }
                    }
                    .info {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding-left: 1vw;
                        @include pad {
                            padding-left: set-vw(15, 768);
                        }
                        .name {
                            color: white;
                            font-family: "Noto Serif TC";
                            font-size: $font-26;
                            font-weight: 600;
                            letter-spacing: 0.08em;
                            margin-bottom: 0.5vw;

                            @include pad {
                                font-size: set-mobile-fz(32);
                            }
                        }
                        .content {
                            color: white;
                            font-family: "微軟正黑體";
                            font-size: $font-17;
                            letter-spacing: 0.08em;
                            @include pad {
                                font-size: set-mobile-fz(26);
                            }
                        }
                    }
                }
            }
        }
    }
}

.push-map-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

#map {
    .dt_box {
        width: min(100%, 360px);
        margin: 0 auto;
        img {
            display: block;
        }

        .img_box {
            width: 100%;
            img {
                aspect-ratio: 360 / 231;
            }
        }

        .flex_box {
            display: flex;
            padding-top: set-vw(17, 1920);
            @include pad {
                // flex-direction: column;
                padding-block: set-vw(15, 768);
            }

            .left {
                flex: 1 1 50%;
            }

            .right {
                display: flex;
                align-items: center;
            }
        }

        .title {
            margin-bottom: set-vw(17, 1920);
            color: #000;
            font-size: set-vw(26, 1920);
            letter-spacing: set-ls(75);


            @include pad {
                margin-bottom: set-vw(13, 1920);

                font-size: set-mobile-fz(32);
                letter-spacing: set-ls(100);

            }
        }

        .txt {
            color: #000;
            font-size: max(set-vw(16, 1920), 14px);
            letter-spacing: set-ls(75);
            @include pad {
                font-size: set-mobile-fz(26);
                letter-spacing: set-ls(100);
            }
        }

        .loc_btn {
            display: block;
            width: fit-content;
            height: auto;
            border-radius: set-vw(34, 1920);
            background-color: #8C6239;
            padding-inline: set-vw(14, 1920);
            padding-block: set-vw(10, 1920);
            color: #fff;
            font-size: max(set-vw(14, 1920), 14px);
            line-height: 1;
            outline: none;
            
            @include pad {
                border-radius: set-vw(34, 768);
                padding-inline: set-vw(14, 768);
                font-size: max(set-mobile-fz(21), 14px);
            }
        }
    }
}

.gm-style .gm-style-iw-c {
    padding: set-vw(48, 1920) set-vw(66, 1920) !important;
    border-radius: 0;

    @include pad {
        padding: set-vw(48, 768) set-vw(44, 768) !important;
    }
}

.gm-style-iw-chr {
    position: absolute;
    top: 0%;
    right: 0%;
}

.gm-ui-hover-effect {
    width: 40px !important;
    height: 40px !important;
}

.gm-ui-hover-effect > span {
    margin: 8px !important;
}

gmp-advanced-marker {
    cursor: pointer !important;
}


.gm-style-iw {
    
    @include pad {
        max-width: set-vw(560, 768) !important;
    }
}

.gm-style-iw-d {
    overflow: auto !important;
}