.push-map-body {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  .banner-box {
    width: 100%;
    height: 40vw;
    overflow: hidden;
    .img-box {
      width: 100%;
      position: relative;
      img {
        object-fit: cover;
      }
    }
  }

  .main-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    align-items: center;
    background-image: url(../images/project/bg.webp);
    padding-bottom: 17vw;
    .title-box {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 4vw;
      margin-top: 4vw;

      .top,
      .bottom {
        display: flex;
        .zh {
          @include indexZHtitle();
        }

        .en {
          @include indexENtitle();
        }
      }

      .top {
        .line {
          margin-left: 0.25vw;
          margin-right: 0.5vw;
          width: 1.5vw;
          align-self: center;
          height: 1px;
          background-color: #c3b09d;
        }
      }
    }

    .push-map-box {
      display: flex;
      width: 85%;

      .google-iframe-box {
        // width: 73.5%;
        flex: 3;
        iframe {
          height: 40vw;
        }
      }

      .item-list {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-left: 1vw;
        padding-right: 1vw;
        height: 40vw;
        width: 100%;
        overflow-y: scroll;

        .item {
          display: flex;
          width: 100%;
          margin-bottom: 1vw;
          padding-bottom: 1vw;
          position: relative;
          cursor: pointer;

          &:hover {
            .img-box {
              img {
                scale: 1.15;
              }
            }
          }

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #c3b09d;
            bottom: 0px;
            left: 0px;
          }
          &:last-child {
            margin-bottom: 0vw;
            padding-bottom: 0vw;
            &::after {
              display: none;
            }
          }
          .img-box {
            overflow: hidden;
            display: flex;
            width: 50%;
            height: 6.5vw;
            img {
              object-fit: cover;
              transition: all 0.35s ease-in-out;
            }
          }
          .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 1vw;
            .name {
              color: white;
              font-family: "Noto Serif TC";
              font-size: $font-26;
              font-weight: 600;
              letter-spacing: 0.08em;
              margin-bottom: 0.5vw;
            }
            .content {
              color: white;
              font-family: "微軟正黑體";
              font-size: $font-17;
              letter-spacing: 0.08em;
            }
          }
        }
      }
    }
  }
}
