@charset "UTF-8";
/* *****************************************/
/*    css
/*    V 20251110
/*        by AuOzzy
/******************************************/
.mobile-break-line {
  display: none;
}

@media (max-width: 900px) {
  .mobile-break-line {
    display: block;
  }
}
.show-desktop.show-desktop {
  display: block;
}

@media (max-width: 900px) {
  .show-desktop.show-desktop {
    display: none;
  }
}
.show-mobile.show-mobile {
  display: none;
}

@media (max-width: 900px) {
  .show-mobile.show-mobile {
    display: block;
  }
}
.btn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out, text-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out, text-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out, text-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.btn-more:hover .arrow {
  -webkit-transform: translateX(1.0416666667vw);
      -ms-transform: translateX(1.0416666667vw);
          transform: translateX(1.0416666667vw);
}

@media (max-width: 900px) {
  .btn-more:hover .arrow {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}
.btn-more:active {
  -webkit-transform: translate(1px, 1px);
      -ms-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
}

.btn-more .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.4vw 2vw;
  padding-right: 1.7vw;
  border-radius: 2vw;
  cursor: pointer;
  border: 1px solid #c3b09d;
  color: #c3b09d;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

@media (max-width: 900px) {
  .btn-more .more {
    padding: 1.640625vw 7vw;
    border-radius: 30px;
  }
}
.btn-more div {
  color: currentColor;
  font-family: "Cormorant Infant", serif;
  font-size: 0.95vw;
}

@media (max-width: 900px) {
  .btn-more div {
    font-size: 3.5vw;
  }
}
.btn-more .arrow {
  width: 0.9895833333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 0.3vw;
  margin-top: -0.2vw;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

@media (max-width: 900px) {
  .btn-more .arrow {
    width: 3.75vw;
    margin-left: 1.3020833333vw;
  }
}
.page-banner {
  width: 100%;
  height: 40vw;
  overflow: hidden;
}

@media (max-width: 900px) {
  .page-banner {
    height: auto;
    aspect-ratio: 768/508;
  }
}
.page-banner .img-box {
  position: relative;
  width: 100%;
  height: 100%;
}

.page-banner .img-box img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5.1041666667vw;
  margin-bottom: 5.1041666667vw;
}

@media (max-width: 900px) {
  .page-title {
    margin-top: 9.2447916667vw;
    margin-bottom: 6.7708333333vw;
  }
}
.page-title .top,
.page-title .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-title .top .zh,
.page-title .bottom .zh {
  font-family: "Noto Serif TC", serif;
  color: #fff;
  letter-spacing: 0.15em;
  font-size: 1.25vw;
  -ms-flex-item-align: center;
      align-self: center;
  font-weight: 500;
}

@media (max-width: 900px) {
  .page-title .top .zh,
  .page-title .bottom .zh {
    font-size: 4.6875vw;
  }
}
.page-title .top .en,
.page-title .bottom .en {
  font-family: "Cormorant Infant", serif;
  color: #c7b299;
  letter-spacing: 0.04em;
  font-size: 2.55vw;
  -ms-flex-item-align: center;
      align-self: center;
}

@media (max-width: 900px) {
  .page-title .top .en,
  .page-title .bottom .en {
    font-size: 6.25vw;
  }
}
.page-title .top {
  gap: 0.625vw;
}

@media (max-width: 900px) {
  .page-title .top {
    gap: 1.5625vw;
  }
}
.page-title .top .line {
  margin-left: 0.25vw;
  margin-right: 0.5vw;
  width: 1.5vw;
  -ms-flex-item-align: center;
      align-self: center;
  height: 1px;
  background-color: #c3b09d;
}

@media (max-width: 900px) {
  .page-title .top .line {
    width: 4.296875vw;
  }
}
.summary-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.summary-block .title {
  margin-bottom: 1.0416666667vw;
  font-size: 1.3541666667vw;
  color: #fff;
  font-family: "Noto Serif TC", serif;
  letter-spacing: 0.08em;
  font-weight: 600;
}

@media (max-width: 900px) {
  .summary-block .title {
    margin-bottom: 2.34375vw;
    font-size: 4.7vw;
  }
}
.summary-block .line {
  width: 1px;
  height: 1.3541666667vw;
  background-color: #c3b09d;
  margin-bottom: 1.0416666667vw;
}

@media (max-width: 900px) {
  .summary-block .line {
    height: 3.3854166667vw;
    margin-bottom: 0.6770833333vw;
  }
}
.summary-block .txt {
  font-family: "微軟正黑體", sans-serif;
  font-size: 0.9375vw;
  text-align: center;
  line-height: 2;
  color: #fff;
  letter-spacing: 0.15em;
}

@media (max-width: 900px) {
  .summary-block .txt {
    font-size: 3.5vw;
  }
}
.news-body {
  padding-bottom: 0;
}

.news-body .main-box {
  padding-bottom: 8.4895833333vw;
}

@media (max-width: 900px) {
  .news-body .main-box {
    padding-bottom: 18.75vw;
  }
}
.news-body .news-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.28125vw 0;
}

@media (max-width: 900px) {
  .news-body .news-box {
    width: 89.1927083333vw;
    grid-template-columns: 1fr;
    margin: auto;
  }
}
.news-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 23vw;
  margin-right: 2vw;
}

@media (max-width: 900px) {
  .news-card {
    margin: 0;
    margin-bottom: 10vw;
    width: 100%;
  }
}
.news-card {
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out, text-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out, text-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out, text-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.news-card:hover .img-box img {
  scale: 1.3;
}

@media (max-width: 900px) {
  .news-card:hover .img-box img {
    scale: 1;
  }
}
.news-card:hover .more-box .more .arrow {
  -webkit-transform: translateX(1.0416666667vw);
      -ms-transform: translateX(1.0416666667vw);
          transform: translateX(1.0416666667vw);
}

@media (max-width: 900px) {
  .news-card:hover .more-box .more .arrow {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}
.news-card:active {
  -webkit-transform: translate(1px, 1px);
      -ms-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
}

.news-card:last-child {
  margin-right: 0vw;
}

.news-card .img-box {
  width: 100%;
  overflow: hidden;
  margin-bottom: 2.8125vw;
}

@media (max-width: 900px) {
  .news-card .img-box {
    margin-bottom: 8.0859375vw;
  }
}
.news-card .img-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.news-card .date-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.21875vw;
  color: white;
  font-family: "Jost";
  font-size: 1.09375vw;
  letter-spacing: 0.07em;
}

@media (max-width: 900px) {
  .news-card .date-box {
    font-size: 4.5vw;
    margin-bottom: 3.515625vw;
  }
}
.news-card .date-box .date {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.09375vw;
}

@media (max-width: 900px) {
  .news-card .date-box .date {
    font-weight: 300;
    gap: 2.734375vw;
  }
}
.news-card .date-box .date::before, .news-card .date-box .date::after {
  content: "";
  background-color: white;
  height: 70%;
  width: 1px;
}

.news-card .title {
  position: relative;
  font-family: "Noto Serif TC";
  font-size: 1.35vw;
  font-weight: 500;
  color: white;
  letter-spacing: 0.1em;
  padding-bottom: 1.6666666667vw;
  margin-bottom: 1.6666666667vw;
}

@media (max-width: 900px) {
  .news-card .title {
    font-size: 4.7vw;
    padding-bottom: 5.46875vw;
    margin-bottom: 6.640625vw;
  }
}
.news-card .title::after {
  content: "";
  position: absolute;
  background-color: #c3b09d;
  width: 1.5625vw;
  height: 1px;
  left: 0px;
  bottom: 0px;
}

@media (max-width: 900px) {
  .news-card .title::after {
    background-color: rgba(195, 176, 157, 0.4784313725);
    width: 5.5989583333vw;
    height: 1px;
  }
}
.news-card .content {
  font-family: "微軟正黑體", sans-serif;
  line-height: 2;
  letter-spacing: 0.15em;
  font-size: 0.95vw;
  color: white;
}

@media (max-width: 900px) {
  .news-card .content {
    font-size: 3.2vw;
  }
}
.news-card .content {
  font-size: 0.95vw;
  line-height: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  padding-right: 0.6vw;
  margin-bottom: 3.0729166667vw;
}

@media (max-width: 900px) {
  .news-card .content {
    margin-bottom: 6.5104166667vw;
    font-size: 3.9vw;
  }
}
.news-detail {
  width: 75.0520833333vw;
  margin: 0 auto;
  padding-top: 9.375vw;
  padding-bottom: 8.4895833333vw;
}

@media (max-width: 900px) {
  .news-detail {
    width: 89.1927083333vw;
    padding-top: 21.6145833333vw;
    padding-bottom: 18.75vw;
  }
}
.news-detail-content {
  padding-top: 3.75vw;
}

@media (max-width: 900px) {
  .news-detail-content {
    padding-top: 8.984375vw;
  }
}
.news-detail-content-hd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 2.7083333333vw;
}

@media (max-width: 900px) {
  .news-detail-content-hd {
    margin-bottom: 4.5572916667vw;
  }
}
.news-detail-content-bd {
  margin-bottom: 4.7395833333vw;
}

@media (max-width: 900px) {
  .news-detail-content-bd {
    margin-bottom: 11.4583333333vw;
  }
}
.news-detail-content-ft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-detail-content-hd {
  position: relative;
  padding-bottom: 1.5625vw;
}

@media (max-width: 900px) {
  .news-detail-content-hd {
    padding-bottom: 5.46875vw;
  }
}
.news-detail-content-hd::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #c3b09d;
  width: 1.5625vw;
  height: 1px;
}

@media (max-width: 900px) {
  .news-detail-content-hd::after {
    background-color: rgba(195, 176, 157, 0.4784313725);
    width: 5.5989583333vw;
    height: 1px;
  }
}
.news-detail-content-hd .date-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.3541666667vw;
  color: white;
  font-family: "Jost", sans-serif;
  font-size: 1.09375vw;
  letter-spacing: 0.07em;
}

@media (max-width: 900px) {
  .news-detail-content-hd .date-box {
    font-size: 4.5vw;
    margin-bottom: 3.90625vw;
  }
}
.news-detail-content-hd .date-box .date {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.09375vw;
}

@media (max-width: 900px) {
  .news-detail-content-hd .date-box .date {
    font-weight: 300;
    gap: 2.734375vw;
  }
}
.news-detail-content-hd .date-box .date::before, .news-detail-content-hd .date-box .date::after {
  content: "";
  background-color: white;
  height: 70%;
  width: 1px;
}

.news-detail-content-hd .title {
  font-family: "Noto Serif TC";
  font-size: 1.6666666667vw;
  font-weight: 500;
  color: white;
  letter-spacing: 0.1em;
}

@media (max-width: 900px) {
  .news-detail-content-hd .title {
    font-size: 4.7vw;
  }
}
.news-detail-content-hd .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8333333333vw;
}

@media (max-width: 900px) {
  .news-detail-content-hd .share {
    gap: 3.125vw;
  }
}
@media (max-width: 900px) {
  .news-detail-content-hd .share {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.news-detail-content-hd .share-label {
  color: #c7b299;
  font-size: 0.9375vw;
  letter-spacing: 0.1em;
}

@media (max-width: 900px) {
  .news-detail-content-hd .share-label {
    font-size: 2.734375vw;
  }
}
.news-detail-content-hd .share-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625vw;
}

@media (max-width: 900px) {
  .news-detail-content-hd .share-list {
    gap: 2.0833333333vw;
  }
}
.news-detail-content-hd .share-item {
  width: 1.875vw;
  height: 1.875vw;
  border-radius: 40px;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

@media (max-width: 900px) {
  .news-detail-content-hd .share-item {
    width: 5.859375vw;
    height: 5.859375vw;
  }
}
.news-detail-content-hd .share-item {
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out, text-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out, text-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out, text-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.news-detail-content-hd .share-item:hover {
  background-color: #fff;
}

.news-detail-content-hd .share-item:active {
  -webkit-transform: translate(1px, 1px);
      -ms-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
}

.html-editor p {
  margin-bottom: 1.6666666667vw;
  line-height: 2;
  font-size: max(0.9375vw, 16px);
}

@media (max-width: 900px) {
  .html-editor p {
    font-size: 3.9vw;
  }
}
.page-contact {
  padding-bottom: 13.6458333333vw;
}

@media (max-width: 900px) {
  .page-contact {
    padding-bottom: 19.0104166667vw;
  }
}
.contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 7.8125vw;
  padding-right: 7.8125vw;
}

@media (max-width: 900px) {
  .contact-wrap {
    padding-left: 5.2083333333vw;
    padding-right: 5.2083333333vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 8.59375vw;
  }
}
.contact-wrap .contact-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4.4791666667vw;
}

@media (max-width: 900px) {
  .contact-wrap .contact-info {
    gap: 6.7708333333vw;
  }
}
.contact-wrap .contact-photo {
  width: 42.2395833333vw;
}

@media (max-width: 900px) {
  .contact-wrap .contact-photo {
    width: 100%;
  }
}
.contact-info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-info-qrcode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.59375vw;
}

@media (max-width: 900px) {
  .contact-info-qrcode {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10.15625vw;
  }
}
.contact-info-qrcode .qrcode-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625vw;
}

@media (max-width: 900px) {
  .contact-info-qrcode .qrcode-col {
    gap: 2.2135416667vw;
  }
}
.contact-info-qrcode .qrcode-img {
  width: 10.4166666667vw;
}

@media (max-width: 900px) {
  .contact-info-qrcode .qrcode-img {
    width: 35vw;
  }
}
.contact-info-qrcode .qrcode-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.7291666667vw;
}

@media (max-width: 900px) {
  .contact-info-qrcode .qrcode-label {
    gap: 1.8229166667vw;
  }
}
.contact-info-qrcode .qrcode-label .icon {
  width: 0.9375vw;
}

@media (max-width: 900px) {
  .contact-info-qrcode .qrcode-label .icon {
    width: 2.6041666667vw;
  }
}
.contact-info-qrcode .qrcode-label .txt {
  color: #fff;
  font-size: 0.9375vw;
  letter-spacing: 0.15em;
}

@media (max-width: 900px) {
  .contact-info-qrcode .qrcode-label .txt {
    font-size: 2.734375vw;
  }
}
.contact-photo-img {
  overflow: hidden;
}

.page-portfolio {
  padding-bottom: 13.6458333333vw;
}

@media (max-width: 900px) {
  .page-portfolio {
    padding-bottom: 17.96875vw;
  }
}
.portfolio-hd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3.125vw;
}

@media (max-width: 900px) {
  .portfolio-hd {
    padding-bottom: 14.3229166667vw;
  }
}
.portfolio-bd {
  position: relative;
}

.portfolio-timeline-line {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  width: 1px;
  height: 100%;
  background-color: #c7b299;
}

@media (max-width: 900px) {
  .portfolio-timeline-line {
    left: 11.8489583333vw;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}
.portfolio-timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio-timeline-item {
  position: relative;
  display: grid;
  grid-template-areas: "img_l year img_r";
  grid-template-columns: 1fr 5.3645833333vw 1fr;
  gap: 0 4.21875vw;
  padding-bottom: 4.84375vw;
}

@media (max-width: 900px) {
  .portfolio-timeline-item {
    grid-template-areas: "year img_r";
    grid-template-columns: 13.4114583333vw 1fr;
    gap: 0 1.4322916667vw;
    padding-left: 5.2083333333vw;
    padding-right: 5.2083333333vw;
    padding-bottom: 7.5520833333vw;
  }
}
.portfolio-timeline-item .img-list-l {
  grid-area: img_l;
}

.portfolio-timeline-item .img-list-l.show-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 900px) {
  .portfolio-timeline-item .img-list-l.show-desktop {
    display: none;
  }
}
.portfolio-timeline-item .img-list-r {
  grid-area: img_r;
}

.portfolio-timeline-item .img-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.1875vw 0.78125vw;
  overflow: hidden;
}

@media (max-width: 900px) {
  .portfolio-timeline-item .img-list {
    gap: 4.6875vw 1.953125vw;
  }
}
.portfolio-timeline-item .img-list-l {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 900px) {
  .portfolio-timeline-item .img-list-l {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.portfolio-timeline-item .img-item {
  width: 11.1979166667vw;
}

@media (max-width: 900px) {
  .portfolio-timeline-item .img-item {
    width: 23.1770833333vw;
  }
}
.portfolio-timeline-item .img-item:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.portfolio-timeline-item .img-item .img-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.7291666667vw;
}

.portfolio-timeline-item .img-item .img-figure .img {
  overflow: hidden;
}

@media (max-width: 900px) {
  .portfolio-timeline-item .img-item .img-figure {
    gap: 2.4739583333vw;
  }
}
.portfolio-timeline-item .img-item .img-label {
  color: #fff;
  font-size: 0.9375vw;
  letter-spacing: 0.15em;
  font-family: "微軟正黑體", sans-serif;
}

@media (max-width: 900px) {
  .portfolio-timeline-item .img-item .img-label {
    font-size: 3.125vw;
  }
}
.portfolio-timeline-item .img-item img {
  aspect-ratio: 215/151;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.portfolio-timeline-item .year {
  grid-area: year;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5.3645833333vw;
  height: 5.3645833333vw;
  border-radius: 50%;
  background-color: #a67c52;
  color: #fff;
  font-size: 1.25vw;
  font-family: "Jost", sans-serif;
  line-height: 1.2;
}

@media (max-width: 900px) {
  .portfolio-timeline-item .year {
    width: 13.4114583333vw;
    height: 13.4114583333vw;
    font-size: 4.1666666667vw;
  }
}
.portfolio-timeline-item .year::after {
  content: "YEAR";
  font-size: 0.9375vw;
}

@media (max-width: 900px) {
  .portfolio-timeline-item .year::after {
    font-size: 2.734375vw;
  }
}
.page-history {
  padding-bottom: 11.4583333333vw;
}

@media (max-width: 900px) {
  .page-history {
    padding-bottom: 24.21875vw;
  }
}
.history-photo {
  margin-bottom: 5.78125vw;
}

@media (max-width: 900px) {
  .history-photo {
    margin-bottom: 8.59375vw;
  }
}
.history-photo-img {
  width: 84.4791666667vw;
  margin: auto;
}

@media (max-width: 900px) {
  .history-photo-img {
    width: 89.1927083333vw;
  }
}
.history-photo-img img {
  aspect-ratio: 1622/540;
  -o-object-fit: cover;
     object-fit: cover;
}

.history-summary {
  margin-bottom: 6.5625vw;
}

@media (max-width: 900px) {
  .history-summary {
    margin-bottom: 17.0572916667vw;
  }
}
@media (max-width: 900px) {
  .history-content {
    padding-left: 5.859375vw;
    padding-right: 5.859375vw;
  }
}
.history-swiper {
  overflow: visible;
}

@media (max-width: 900px) {
  .history-swiper {
    padding-top: 11.328125vw;
  }
}
.history-swiper .swiper-slide {
  position: relative;
  pointer-events: none;
}

.history-swiper .swiper-slide.swiper-slide-active {
  pointer-events: auto;
}

@media (max-width: 900px) {
  .history-swiper .swiper-slide {
    aspect-ratio: unset;
  }
}
.history-swiper-pagination {
  position: absolute;
  top: 1.40625vw;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 31.6145833333vw;
}

.history-swiper-pagination .ss-scroll {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 900px) {
  .history-swiper-pagination .ss-content {
    width: 100%;
    scrollbar-width: none;
  }
}
@media (max-width: 900px) {
  .history-swiper-pagination {
    top: 0;
    right: unset;
    width: 100%;
    height: auto;
  }
}
.history-swiper .swiper-pagination {
  position: relative;
  top: unset;
  left: unset;
  bottom: unset;
  right: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.4166666667vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 31.6145833333vw;
}

@media (max-width: 900px) {
  .history-swiper .swiper-pagination {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 4.6875vw;
    width: 100%;
    height: auto;
  }
}
.history-swiper .swiper-pagination-bullet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5208333333vw;
  width: auto;
  height: auto;
  background-color: transparent;
  opacity: 0.4;
  color: #c7b299;
  font-family: "Jost", sans-serif;
  font-size: 0.8333333333vw;
  letter-spacing: 0.05em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

@media (max-width: 900px) {
  .history-swiper .swiper-pagination-bullet {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 4.1666666667vw;
  }
}
.history-swiper .swiper-pagination-bullet::after {
  content: "";
  display: block;
  width: 1.25vw;
  height: 1px;
  background-color: #c7b299;
  opacity: 0;
}

@media (max-width: 900px) {
  .history-swiper .swiper-pagination-bullet::after {
    width: 100%;
  }
}
.history-swiper .swiper-pagination-bullet:hover {
  opacity: 1;
}

.history-swiper .swiper-pagination-bullet-active {
  opacity: 1;
}

.history-swiper .swiper-pagination-bullet-active::after {
  opacity: 1;
}

@media (max-width: 900px) {
  .history-swiper-nav {
    width: max(4.5572916667vw, 20px);
    height: max(4.5572916667vw, 20px);
  }
  .history-swiper-nav.swiper-button-prev img {
    -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
            transform: scaleX(-1);
  }
  .history-swiper-nav.swiper-button-prev, .history-swiper-nav.swiper-button-next {
    top: 97.7864583333vw;
    margin-top: 0;
  }
}
.history-content .year-box {
  position: absolute;
  top: 4.53125vw;
  left: 35.3125vw;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  pointer-events: none;
}

@media (max-width: 900px) {
  .history-content .year-box {
    top: 83.7239583333vw;
    left: 0;
    width: 100%;
  }
}
.history-content .digit-container {
  position: relative;
  width: 8.125vw;
  aspect-ratio: 156/240;
  overflow: hidden;
}

@media (max-width: 900px) {
  .history-content .digit-container {
    width: 8.4635416667vw;
    aspect-ratio: 65/110;
  }
}
.history-content .digit-scroll {
  position: absolute;
  width: 100%;
  text-align: center;
}

.history-content .digit {
  width: 100%;
  height: 12.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15.625vw;
  font-family: "Jost", sans-serif;
  color: #c7b299;
}

@media (max-width: 900px) {
  .history-content .digit {
    height: 14.3229166667vw;
  }
}
.history-slide-title {
  position: absolute;
  top: 2.3958333333vw;
  left: 35.3125vw;
  z-index: 2;
  color: #c7b299;
  font-family: "Jost", sans-serif;
}

@media (max-width: 900px) {
  .history-slide-title {
    position: relative;
    top: unset;
    left: unset;
  }
}
.history-slide-title .title {
  font-size: 15.625vw;
  line-height: 1;
  color: #000;
}

@media (max-width: 900px) {
  .history-slide-title .title {
    font-size: 15.625vw;
  }
}
.history-slide-title .title {
  display: none;
}

.history-slide-title .txt {
  position: absolute;
  top: calc(0% + 15.8333333333vw);
  left: 30.9375vw;
  font-size: 1.40625vw;
}

.history-slide-img {
  -webkit-transform: translateX(18.6458333333vw);
      -ms-transform: translateX(18.6458333333vw);
          transform: translateX(18.6458333333vw);
  width: 19.53125vw;
}

@media (max-width: 900px) {
  .history-slide-img {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    width: 89.1927083333vw;
  }
}
.history-slide-img img {
  aspect-ratio: 375/563;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 900px) {
  .history-slide-img img {
    aspect-ratio: 685/451;
  }
}
.history-slide-content {
  position: absolute;
  top: 23.1770833333vw;
  left: 42.34375vw;
}

@media (max-width: 900px) {
  .history-slide-content {
    position: relative;
    top: unset;
    left: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 32.1614583333vw;
  }
}
.history-slide-content .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.09375vw 4.2708333333vw;
  max-height: 5.46875vw;
}

@media (max-width: 900px) {
  .history-slide-content .list {
    gap: 3.125vw;
    max-height: none;
  }
}
.history-slide-content .item {
  list-style: disc;
  list-style-position: inside;
  color: #fff;
  font-family: "微軟正黑體", sans-serif;
  line-height: 2;
  letter-spacing: 0.15em;
  font-size: 0.95vw;
  color: white;
}

@media (max-width: 900px) {
  .history-slide-content .item {
    font-size: 3.2vw;
  }
}
.history-slide-content .item {
  font-size: 0.8333333333vw;
  line-height: 1;
}

@media (max-width: 900px) {
  .history-slide-content .item {
    font-size: 3.3854166667vw;
  }
}
/*# sourceMappingURL=style.css.map */
