{% set page_title = "" %} {% set body_class = "index-body " %} {% extends
"layout.njk" %} {% block content %}
<div class="loading-screen">
    <div class="loading-text" id="loading-text">0</div>
</div>

<div class="scroll-box">
    <div class="card1">
        <div class="main-box">
            <div class="title-box">
                <div class="en">ARCHITECTURE</div>
                <div class="zh">傳家之寶 台鼎永固</div>
                <div class="content">匠心工藝，打造歷久彌新的經典家園</div>
            </div>

            <div class="p-fv-img-wrapper">
                <div class="img-box">
                    <video
                        muted
                        playsinline
                        autoplay
                        src="assets/images/index/H2641080.mp4"></video>
                    <!-- <img src="assets/images/index/test.png" alt=""> -->
                </div>
                <div class="dummy-video">
                    <video
                        muted
                        playsinline
                        autoplay
                        src="assets/images/index/H2641080.mp4"></video>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="marquee-box" style="position: relative; height: 14vw">
    <div class="c-bg-black-s" style="width: 100%; overflow: hidden">
        <div class="c-maskText-wrapper">
            <div class="c-maskText-inner" style="display: flex">
                <div class="c-maskText">BAOTAI DEVELOPMENT</div>
                <div class="c-maskText">BAOTAI DEVELOPMENT</div>
                <div class="c-maskText">BAOTAI DEVELOPMENT</div>
                <div class="c-maskText">BAOTAI DEVELOPMENT</div>
                <div class="c-maskText">BAOTAI DEVELOPMENT</div>
            </div>
        </div>
    </div>
</div>

<div class="hot-project">
    <div class="title-box">
        <div class="top pc">
            <div class="en">HOT</div>
            <div class="zh">熱銷</div>
            <div class="line"></div>
        </div>
        <div class="bottom pc">
            <div class="zh">建案</div>
            <div class="en">PROJECT</div>
        </div>

        <div class="pad">
            <div class="zh">熱銷建案</div>
            <div class="en">HOT PROJECT</div>
        </div>
    </div>
    <div class="swiper-box">
        <div class="swiper swiper-left">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="assets/images/index/1.webp" alt="" srcset="" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/index/2.webp" alt="" srcset="" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/index/3.webp" alt="" srcset="" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/index/1.webp" alt="" srcset="" />
                </div>
            </div>
        </div>
        <div class="swiper swiper-middle">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="assets/images/index/1.webp" alt="" srcset="" />
                    <div class="content-box">
                        <div class="name">
                            <div>寶台青耘</div>
                            <div class="local">桃園市 楊梅區</div>
                        </div>
                        <div class="content">靜巷公園家，明星學區宅</div>
                    </div>
                    <div class="more-box">
                        <a href="./projectInner.html" class="more">
                            <div>MORE</div>
                            <div class="arrow">
                                <img
                                    src="assets/images/index/next.svg"
                                    alt="next"
                                    srcset="" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/index/2.webp" alt="" srcset="" />
                    <div class="content-box">
                        <div class="name">
                            <div>寶台青耘</div>
                            <div class="local">桃園市 楊梅區</div>
                        </div>
                        <div class="content">靜巷公園家，明星學區宅</div>
                    </div>
                    <div class="more-box">
                        <a href="./projectInner.html" class="more">
                            <div>MORE</div>
                            <div class="arrow">
                                <img
                                    src="assets/images/index/next.svg"
                                    alt="next"
                                    srcset="" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/index/3.webp" alt="" srcset="" />
                    <div class="content-box">
                        <div class="name">
                            <div>寶台青耘</div>
                            <div class="local">桃園市 楊梅區</div>
                        </div>
                        <div class="content">靜巷公園家，明星學區宅</div>
                    </div>
                    <div class="more-box">
                        <a href="./projectInner.html" class="more">
                            <div>MORE</div>
                            <div class="arrow">
                                <img
                                    src="assets/images/index/next.svg"
                                    alt="next"
                                    srcset="" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/index/1.webp" alt="" srcset="" />
                    <div class="content-box">
                        <div class="name">
                            <div>寶台青耘</div>
                            <div class="local">桃園市 楊梅區</div>
                        </div>
                        <div class="content">靜巷公園家，明星學區宅</div>
                    </div>
                    <div class="more-box">
                        <a href="./projectInner.html" class="more">
                            <div>MORE</div>
                            <div class="arrow">
                                <img
                                    src="assets/images/index/next.svg"
                                    alt="next"
                                    srcset="" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper swiper-right">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="assets/images/index/1.webp" alt="" srcset="" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/index/2.webp" alt="" srcset="" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/index/3.webp" alt="" srcset="" />
                </div>

                <div class="swiper-slide">
                    <img src="assets/images/index/1.webp" alt="" srcset="" />
                </div>
            </div>
        </div>
    </div>

    <div class="swiper-controller">
        <div class="swiper-pagination"></div>
        <div class="prev-next-box">
            <div class="slider-arrow prev">
                <img
                    class="prev-img"
                    alt="prev"
                    src="assets/images/index/prev.svg"
                    srcset="" />
                <div>PREV</div>
            </div>
            <div class="line">|</div>
            <div class="slider-arrow next">
                <div>NEXT</div>

                <img
                    class="next-img"
                    alt="next"
                    src="assets/images/index/next.svg"
                    srcset="" />
            </div>
        </div>
    </div>
</div>

<div class="our-vision">
    <div class="title-box">
        <div class="top pc">
            <div class="en">OUR</div>
            <div class="zh">品牌</div>
            <div class="line"></div>
        </div>
        <div class="bottom pc">
            <div class="zh">願景</div>
            <div class="en">VISION</div>
        </div>

        <div class="pad">
            <div class="zh">品牌願景</div>
            <div class="en">OUR VISION</div>
        </div>
    </div>
    <div class="pad our-img-box">
        <img src="assets/images/index/our_ph_img1@2x-100.webp" alt="" />
    </div>
    <div class="big-title">承載土地信念，築起世代幸福家園</div>
    <div class="content-line line">|</div>
    <div class="content pc">
        三十餘載深耕桃竹苗，寶台建設機構堅持以誠信立業，<br />
        以專業築基。從穩固結構到細膩工藝，<br />
        每一步都蘊含對家的承諾，只為打造歷久彌新的生活價值。
    </div>
    <div class="content pad">
        三十餘載深耕桃竹苗，<br />
        寶台建設機構堅持以誠信立業，<br />
        以專業築基。從穩固結構到細膩工藝，<br />
        每一步都蘊含對家的承諾，<br />
        只為打造歷久彌新的生活價值。
    </div>
    <div class="more-box btn-more">
        <a href="./about.html" class="more">
            <div>MORE</div>
            <div class="arrow">
                <img src="assets/images/index/next.svg" alt="next" srcset="" />
            </div>
        </a>
    </div>

    <div class="slider">
        <div class="slide" id="slide-1">
            <div class="slide-img">
                <img src="assets/images/index/item1.webp" alt="" srcset="" />
            </div>
        </div>
        <div class="slide" id="slide-2">
            <div class="slide-img">
                <img src="assets/images/index/item2.webp" alt="" srcset="" />
            </div>
        </div>
        <div class="slide" id="slide-3">
            <div class="slide-img">
                <img src="assets/images/index/item3.webp" alt="" srcset="" />
            </div>
        </div>
        <div class="slide" id="slide-4">
            <div class="slide-img">
                <img src="assets/images/index/item4.webp" alt="" srcset="" />
            </div>
        </div>
        <div class="slide" id="slide-5">
            <div class="slide-img">
                <img src="assets/images/index/item5.webp" alt="" srcset="" />
            </div>
        </div>
        <div class="slide" id="slide-6">
            <div class="slide-img">
                <img src="assets/images/index/item6.webp" alt="" srcset="" />
            </div>
        </div>
    </div>
</div>

<div class="news-latest">
    <div class="title-box">
        <div class="top pc">
            <div class="en">NEWS</div>
            <div class="zh">最新</div>
            <div class="line"></div>
        </div>
        <div class="bottom pc">
            <div class="zh">消息</div>
            <div class="en">LATEST</div>
        </div>

        <div class="pad">
            <div class="zh">最新消息</div>
            <div class="en">NEWS LATEST</div>
        </div>
    </div>

    <div class="news-box">
        <div class="item news-card">
            <div class="img-box">
                <img src="assets/images/index/4.webp" alt="" srcset="" />
            </div>
            <div class="date-box">
                <div class="date">2025-07-21</div>
            </div>
            <div class="title">過嶺精品小豪宅 首付35萬起</div>
            <div class="content">
                最豐富的居家、最有質感的建材，理解居住者的需求與需
                要，從最根本出發 滿足您所需一切讓建築能夠昇華為能夠昇華為
            </div>
            <div class="more-box btn-more">
                <a href="./news_detail.html" class="more">
                    <div>MORE</div>
                    <div class="arrow">
                        <img
                            src="assets/images/index/next.svg"
                            alt="next"
                            srcset="" />
                    </div>
                </a>
            </div>
        </div>
        <div class="item news-card">
            <div class="img-box">
                <img src="assets/images/index/5.webp" alt="" srcset="" />
            </div>
            <div class="date-box">
                <div class="date">2025-07-21</div>
            </div>
            <div class="title">捷運G01站 共榮新未來</div>
            <div class="content">
                寶台SAFE建築文化，捷運G01站 軌道經濟，城市串聯
                暢通無阻，結合當代美學寓所，難得新奢生活品味....
            </div>
            <div class="more-box btn-more">
                <a href="./news_detail.html" class="more">
                    <div>MORE</div>
                    <div class="arrow">
                        <img
                            src="assets/images/index/next.svg"
                            alt="next"
                            srcset="" />
                    </div>
                </a>
            </div>
        </div>
        <div class="item news-card">
            <div class="img-box">
                <img src="assets/images/index/6.webp" alt="" srcset="" />
            </div>
            <div class="date-box">
                <div class="date">2025-07-21</div>
            </div>
            <div class="title">寶台建築美學 邀您一同品味</div>
            <div class="content">
                將細膩工藝與人文關懷融合於每一個空間設計之中。
                從選材到施工皆秉持嚴謹與專業，體現質感與永續....
            </div>
            <div class="more-box btn-more">
                <a href="./news_detail.html" class="more">
                    <div>MORE</div>
                    <div class="arrow">
                        <img
                            src="assets/images/index/next.svg"
                            alt="next"
                            srcset="" />
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block page_script %}
<script src="js/index.js{% if VERSION != '' %}?v=[[VERSION]]{% endif %}"></script>
{% endblock %}
