{% set page_title = "熱銷建案" %}
{% set body_class = "project-body " %}
{% extends "layout.njk" %}
{% block content %}
    <div class="banner-box">
        <div class="img-box">
            <img src="assets/images/project/banner.webp" alt="" srcset="">
        </div>
    </div>

    <div class="main-box">
        <div class="title-box">
            <div class="top">
                <div class="line"></div>
                <div class="zh">熱銷建案</div>
                <div class="line"></div>
            </div>
            <div class="bottom">
                <div class="en">HOT PROJECT</div>
            </div>
        </div>

        <div class="gallery">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="item-box">
                            <div class="top-box">
                                <div class="img-box">
                                    <a href="projectInner.html">
                                        <img src="assets/images/project/4.webp" alt="" srcset="">
                                    </a>
                                </div>
                            </div>
                            <div class="bottom-box">
                                <div class="name-box">
                                    <div class="name">寶台天馳</div>
                                    <div class="local">桃園市 中壢區</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item-box">
                            <div class="top-box">
                                <div class="img-box">
                                  <a href="projectInner.html">
                                     <img src="assets/images/project/2.webp" alt="" srcset="">
                                  </a>
                                </div>
                            </div>
                            <div class="bottom-box">
                                <div class="name-box">
                                    <div class="name">寶台青耘</div>
                                    <div class="local">桃園市 楊梅區</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item-box">
                            <div class="top-box">
                                <div class="img-box">
                                    <a href="projectInner.html">
                                        <img src="assets/images/project/3.webp" alt="" srcset="">
                                    </a>
                                </div>
                            </div>
                            <div class="bottom-box">
                                <div class="name-box">
                                    <div class="name">寶台幸福WAY</div>
                                    <div class="local">桃園市 新屋區</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item-box">
                            <div class="top-box">
                                <div class="img-box">
                                    <a href="projectInner.html">
                                        <img src="assets/images/project/1.webp" alt="" srcset="">
                                    </a>
                                </div>
                            </div>
                            <div class="bottom-box">
                                <div class="name-box">
                                    <div class="name">寶台幸福MRT</div>
                                    <div class="local">桃園市 八德區</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="swiper-controller">

                <div class="prev-next-box">
                    <div class="slider-arrow prev">
                        <img class="prev-img" alt="prev" src="assets/images/project/prev.svg" srcset="" />
                        <div>PREV</div>
                    </div>
                    <!-- 進度條 -->
                    <div class="swiper-pagination-progressbar"></div>
                    <div class="slider-arrow next">
                        <div>NEXT</div>

                        <img class="next-img" alt="next" src="assets/images/project/next.svg" srcset="" />
                    </div>
                </div>
                <div class="swiper-pagination"></div>

            </div>
        </div>


    </div>

{% endblock %}
{% block page_script %}
    <script src="js/main.js{% if VERSION != '' %}?v=[[VERSION]]{% endif %}"></script>
    <script src="js/project.js{% if VERSION != '' %}?v=[[VERSION]]{% endif %}"></script>
{% endblock %}
