{% set page_title = "工程進度" %} {% set body_class = "work-progress-body " %}{%
extends "layout.njk" %} {% block content %}
<div class="banner-box page-banner">
    <div class="img-box">
        <img src="assets/images/work_progress/banner.webp" alt="" srcset="" />
    </div>
</div>

<div class="main-box">
    <div class="title-box page-title">
        <div class="top">
            <div class="line"></div>
            <div class="zh">工程進度</div>
            <div class="line"></div>
        </div>
        <div class="bottom">
            <div class="en">WORKS PROGRESS</div>
        </div>
    </div>

    <div class="item-list-box">
        {% for i in range(1, 4) %}
        <div class="item-box">
            <div class="img-box">
                <img src="assets/images/work_progress/1.png" alt="" srcset="" />
            </div>
            <div class="name">寶台天馳</div>

            <div class="info-box">
                <div class="left-box">
                    <div class="info">
                        <div class="title">更新日期:</div>
                        <div>2025/09/16</div>
                    </div>
                    <div class="info">
                        <div class="title">基地位置:</div>
                        <div>桃園市中壢區</div>
                    </div>
                    <div class="info">
                        <div class="title">施工進度:</div>
                        <div>建築外觀拆架完成</div>
                    </div>
                    <div class="btn-box btn-more">
                        <div class="more">
                            <div>進度說明</div>
                            <div class="arrow">
                                <img
                                    src="assets/images/work_progress/arrow.svg"
                                    alt="next"
                                    srcset="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-box">
                    <div class="img-box">
                        <img
                            src="assets/images/work_progress/5.png"
                            alt=""
                            srcset="" />
                    </div>
                </div>
            </div>
        </div>

        <div class="item-box">
            <div class="img-box">
                <img src="assets/images/work_progress/2.png" alt="" srcset="" />
            </div>
            <div class="name">寶台青耘</div>

            <div class="info-box">
                <div class="left-box">
                    <div class="info">
                        <div class="title">更新日期:</div>
                        <div>2025/09/16</div>
                    </div>
                    <div class="info">
                        <div class="title">基地位置:</div>
                        <div>桃園市中壢區</div>
                    </div>
                    <div class="info">
                        <div class="title">施工進度:</div>
                        <div>建築外觀拆架完成</div>
                    </div>
                    <div class="btn-box btn-more">
                        <div class="more">
                            <div>進度說明</div>
                            <div class="arrow">
                                <img
                                    src="assets/images/work_progress/arrow.svg"
                                    alt="next"
                                    srcset="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-box">
                    <div class="img-box">
                        <img
                            src="assets/images/work_progress/5.png"
                            alt=""
                            srcset="" />
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %} {% block page_script %}
<script src="assets/js/main.js"></script>
<script src="js/main.js"></script>
<script src="js/work_progress.js"></script>
{% endblock %}
