@use "sass:math";
@use "sass:meta";
@mixin wh($width:100%, $height:$width) {
	@if meta.type-of($width) == number {
		@if (math.is-unitless($width)) {
			$width: $width * 1px;
		}
		@if (math.is-unitless($height)) {
			$height: $height * 1px;
		}
		width: $width;
		height: $height;
	} @else if $width == "auto" {
		width: $width;
		height: $height;
	}
}
