header {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 200;

  transition: all 0.3s ease;
  backdrop-filter: blur(8px);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 5%, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0) 100%);

  @media all and (max-width: 1024px) {
    height: auto;
    padding-top: 2vw;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
  }

  .header-box {
    display: flex;
    width: 90%;
    padding-top: 1vw;
    padding-bottom: 1vw;
    justify-content: space-between;

    @include pad{
      width: 100%;
      padding: 0;
    }

    .logo-box {
      display: flex;
      flex-direction: column;
      width: 12vw;
      align-items: center;
      align-self: center;
      @media all and (max-width: 1440px) {
        width: 12vw;
      }
      @media all and (max-width: 1024px) {
        width: 21vw;
        z-index: 1;
      }
      @include mobile{
        width: 35vw;
      }
      img {
        width: 100%;
      }
    }

    .link-box {
      display: flex;
      justify-content: right;

      @include pad{
        // display: none;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 90svh;
        left: 0;
        top: -60%;
        visibility: hidden;
        opacity: 0;
        background-color: #423734;
        z-index: 0;
        transition: all 0.3s;

        &.active{
          visibility: visible;
          opacity: 1;
          top: 0%;
          
        }
      }


      .l_div{
        position: relative;
        margin-right: 3vw;
        
        @include pad{
          margin:0;
        }

        &::after {
            content: "";
            position: absolute;
            right: -22%;
            background-color: #ffffff;
            height: 35%;
            width: 1px;
            top: 42%;

            @include pad{
              content: none;
            }
          }

        a.link {
          display: flex;
          color: #ffffff;
          flex-direction: column;
          position: relative;
          align-self: center;
          justify-content: end;
          overflow: hidden; // 避免動畫溢出
          // height: 3vw; // 固定高度，避免位移時抖動
          padding-bottom: 12%;

          @media all and (max-width: 1440px) {
            font-size: $font-24;
          }

          @include pad{
            // padding-bottom: 6vw;
            padding-block: 3vw;
          }

          .en {
            font-family: "Cormorant Infant", serif;
            font-size: $font-17;
            text-align: center;
            letter-spacing: 0.08em;
            margin-left: -0.3vw;
            transition: transform 0.4s ease, opacity 0.4s ease;

            @include pad{
              font-size: 3.5vw;
            }
          }
          .zh {
            font-family: "Noto Serif TC", serif;
            font-size: $font-18;

            transition: transform 0.4s ease, opacity 0.4s ease;
            text-align: center;
            font-weight: 500;
            letter-spacing: 0.35em;

            @include pad{
              font-size: 5vw;
              letter-spacing: 0.3em;
            }
          }
          &:hover {
            .en {
              transform: translateY(120%);
              color: #e0caae;
            }
            .zh {
              transform: translateY(-90%);
              color: #e0caae;
            }
            @include pad{
              .en, .zh {
                transform: translateY(0);
              }
            }
          }
          .en {
            transform: translateY(0);
          }
          .zh {
            transform: translateY(0);
            // opacity: 0;
          }
          

          // &:last-child {
          //   padding-right: 0vw;
          //   &::after {
          //     display: none;
          //   }
          // }
        }

        a.active {
          color: #e0caae;
          &:hover {
            .en {
              transform: translateY(0%);
              color: #e0caae;
            }
            .zh {
              transform: translateY(0%);
              color: #e0caae;
            }
          }
        }

        .sub_link{
          opacity: 0;
          visibility: hidden;
          transform: translateY(-20px);
          position: absolute;
          top: 99%;
          width: 100%;
          text-align: center;
          padding: 10% 0;
          background-color: #3c312e;
          transition: all 0.3s;

          li{
            overflow: hidden;
            a{
              color: #fff;
              letter-spacing: 0.1em;
              font-size: 0.8vw;
              font-family: 'Noto Serif TC', serif;
              padding: 5%;
              display: block;
              transition: all 0.5s;
              // transform: translateY(25px);
              @include pad{
                font-size: 3.5vw;
              }

              &:hover{
                color: #3c312e;
                background-color: #e0caae;
              }
            }
          }
        }

        &:hover{
          .sub_link{
              opacity: 1;
              visibility: visible;
              transform: translateY(0);

              @include pad{
                position: relative;
                top: unset;
              }
            }
        }
      }
    }

    .mobile-menu {
      display: none;
      @media all and (max-width: 1024px) {
        display: flex;
        flex-direction: column;
        width: 9vw;
        justify-content: center;
      }
      img {
        width: 100%;
      }
    }

    .hamburger{
      padding: 5px;
      padding-top: 10px;
      outline: none;

      @include pad{
        z-index: 1;
      }

      .hamburger-box{
        width: 27px;
      }
    }

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
      background-color:#fff;
      height: 2px;
      width: 27px;
    }
    .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after{
      background-color:#fff;
    }
  }
  .menu-icon {
    display: none;
    position: relative;
    @media screen and (max-width: 1024px) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 14vw;
      margin-right: -1vw;
    }

    .close-menu {
      position: absolute;
      top: 1vw;
      left: 1vw;
      width: 77% !important;
      opacity: 0;
      display: none;
    }
  }
}
header.transparent {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.805) 0%,
    rgba(0, 0, 0, 0.629) 5%,
    transparent 100%
  );
}
