.menu-box {
  max-width: 1024px;
  background-color: #f7f7f5;
  height: 0vh;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  overflow: hidden;
  display: none;
  @media all and (max-width: 1024px) {
    display: block;
    // z-index: 150;
  }

  .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100svh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    .item-box {
      display: flex;
      flex-direction: column;
      margin-top: -10vw;
      width: 100%;
      text-align: center;

      .item {
        padding: 4vw 0vw;
        a {
          color: #aa7e4f;
          font-family: "noto Serif TC";
          letter-spacing: 0.2em;
          font-weight: 600;
          font-size: 5vw;
          padding: 4vw 6vw;
        }
      }
    }
  }
}
