@use "./variables" as v;
@use "../../../../src/sass/abstracts/functions/set-vw" as *;

@mixin indexENtitle() {
  font-family: "Cormorant Infant", serif;
  color: #c7b299;
  letter-spacing: 0.04em;
  font-size: v.$font-45;
  align-self: center;
  @include pad {
    font-size: set-vw(48, 768);
  }
}

@mixin indexZHtitle() {
  font-family: "Noto Serif TC", serif;
  color: #fff;
  letter-spacing: 0.15em;
  font-size: v.$font-24;
  align-self: center;
  font-weight: 500;
  @include pad {
    font-size: set-vw(36, 768);
  }
}

@mixin content() {
  font-family: "微軟正黑體", sans-serif;
  line-height: 2;
  letter-spacing: 0.15em;
  font-size: v.$font-18;
  color: white;
  @include pad {
    font-size: v.$content;
  }
}


@mixin pad{
  @media(max-width:900px){
    @content;
  }
}
@mixin mobile{
  @media(max-width:500px){
    @content;
  }
}