@keyframes pulse {
    0%,
    100% {
        r: 4.4;
        opacity: 1;
    }
    50% {
        r: 6;
        opacity: 0.7;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@keyframes ripple {
    0% {
        width: 50%;
        height: 50%;
        opacity: 1;
    }
    30% {
        opacity: 0.6;
    }
    100% {
        width: 120%;
        height: 120%;
        opacity: 0;
    }
}