.ff-noto-serif-tc {
    font-family: "Noto Serif TC", serif;
}

.ff-noto-sans-tc {
    font-family: "Noto Sans TC", sans-serif;
}

.ff-microsoft-jhenghei {
    font-family: "Microsoft JhengHei", "微軟正黑體", "Segoe UI", "PingFang TC", sans-serif;
}


